---
layout: default
title: Paolo Laurenti
---

<div id="home" class="row">
<div class="col-md-9">
<div class="row bio">
  <div class="col-md-4">
    <div class="avatar">
    </div>
  </div>
  <div class="col-md-8">
        <h2>
          Paolo Laurenti
        </h2>
        <ul class="list-inline tags">
          <li>
            <a href="https://twitter.com/paololaurenti" target="_blank">
              Twitter
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/in/laurentipaolo" target="_blank">
              Linkedin
            </a>
          </li>
          <li>
            <a href="http://www.github.com/paololaurenti" target="_blank">
              Github
            </a>
          </li>
        </ul>

      <p>
        Sono uno sviluppatore software con numerose esperienze alle spalle. La mia passione per l’informatica credo sia nata la prima volta che vidi mio fratello maggiore giocare con il suo “Commodore 16”. Ero piccolo e non capivo nulla di “mettere e togliere cassette”, “load”, “return”, ecc… ma ne rimasi molto affascinato e sicuramente mi influenzò quando, qualche anno dopo, decisi che la mia strada sarebbe stata l’informatica. Attualmente creo soluzioni per lo più backend, mi interessano molto le problematiche di distribuzione e scalabilità del software. Lavoro da molti anni in C#, ma ultimamente mi sono appassionato a NodeJs e soprattutto a Erlang/Elixir. Ritengo che il confronto aperto e la condivisione della conoscenza siano il modo migliore per imparare dagli altri e crescere assieme perciò credo moltissimo nella partecipazione alle community. Infatti da qualche anno coordino le attività di XPug Bologna e partecipo all’organizzazione di alcune conferenze italiane. Per me non esiste solamente il mondo del software ma sono un grande appassionato di basket (a 360⁰), buon cibo (se volete farmi felice, portatemi in un buon ristorante) e camminate in montagna.
      </p>
  </div>
</div>

  </div>
  <div class="col-md-3">
    <div class="right-panel">
      <h3>Recent Posts</h3>
      <ul class="recent-posts">
        {% for post in site.posts offset: 0 limit: 5  %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>


</script>
